/applications/notes/notes.json
/static/dataFiles/events.json
/static/dataFiles/notes.json
# Default ignored files
/shelf/
/static/uploads/
.idea/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/flaskProject.iml
/modules.xml
/misc.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
