:root {
    --text-color: LightSteelBlue;
    --highlight-color: #6c7b8b; /* Kolor podświetlenia (ciemniejsze od obramowania) */
    --secondary-bg-color: #333; /* Kolor tła linku */
    --primary-bg-color: #2d2d2d; /* Kolor tła na hover */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2d2d2d;
}

header {
    background-color: #333;
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.app-item {
    text-align: center;
    padding: 20px;
    background-color: inherit;
    border: 2px solid #6c7b8b;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.app-item:hover {
    background-color: inherit;
    transform: scale(1.05);
}

.app-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.app-item span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
}

.app-item a {
    text-decoration: none;
}

.home-link {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--secondary-bg-color);
    transition: background-color 0.3s, color 0.3s;
}

.home-link:hover {
    background-color: var(--highlight-color);
    color: var(--primary-bg-color);
}

/* Stylizacja formularza przesyłania plików */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="file"] {
    padding: 10px;
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
    background-color: #555;
    color: var(--text-color);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--highlight-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--text-color);
    color: var(--highlight-color);
}

.error, .success {
    color: var(--text-color);
    font-weight: bold;
}
